<h2>Please add a contact below: </h2>

<form action= "/contacts" method="post"> 
	<input type="text" name="first_name">
	<input type="text" name="last_name">
	<input type="email" name ="email">
	<input type="text" name="note">
	<input type="submit" name="Submit">
</form>