<h2>Please add a contact below: </h2>

<div id="container">

<form action= "/contacts" method="post" > 
		<input type="text" name="first_name" placeholder="First Name">
		<input type="text" name="last_name"  placeholder="Last Name">
		<input type="email" name ="email"  placeholder="Email">
		<input type="text" name="note" placeholder="Note">


	<button type="submit">Submit</button>

	</form>
</div>

	