<h1>This is where the contacts should be</h1>

<h1>All Contacts</h1>

<ul>
<% @@rolodex.each do |contact| %>
	<li><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %> <%= contact.note %></li>
<% end %>


</ul>