<h2>All Contacts</h2>

<ul id="contactlist">
<% @@rolodex.contacts.each do |contact| %>
	<li><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %> <%= contact.note %></li>
<% end %>

</ul>